<article class="sidebar">
    <h1 class="photolist-title">Photos on display</h1>
    <div class="pixgrid clearfix">
      <% if (photos.length > 0) { %>
      <% for (i=0; i< photos.length; i++) { %>
          <img src="/photoalbum/<%= photos[i] %>" alt="Photo <%= i %>">
      <% } %>
      <% } %>
    </div>
  </article>