<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Photo Gallery</title>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/lightbox.min.css">
    <script type="text/javascript" src="js/lightbox-plus-jquery.min.js"></script>
</head>
<body>
    <h1>Home Photo Gallery</h1>

    <div class="gallery">
        <% if (photos.length > 0) { %>
            <% for (i=0; i< photos.length; i++) { %>
                <a href="/photoalbum/big/<%= photos[i] %>" data-lightbox="mygallery">
                    <img src="/photoalbum/<%= photos[i] %>" alt="Photo <%= i %>">      
                </a> 
            <% } %>
        <% } %> 
    </div>
</body>
</html>